---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/pathfinder">Pathfinder</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--navy-bg);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	h2 a {
		color: var(--accent) !important;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--text-main);
		border-bottom: 4px solid transparent;
	}
	nav a.active {
		border-bottom-color: var(--accent);
	}
</style>